[submodule "rfs_tester"]
	path = rfs_tester
	url = https://github.com/FudanPPI/rfs_tester.git
[submodule "s3-tests"]
	path = s3-tests
	url = https://github.com/FudanPPI/s3-tests.git
[submodule "kernel"]
        path = kernel
        url = https://github.com/powerfs/powerfs-kernel.git
